.avatar {
    width: 100px;
    border-radius: 16px;
    box-shadow: -5px -5px 14px aqua;
}

.menu {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}

#table-form-wrapper {
    display: flex;
    flex-direction: column;
}

#table-form-wrapper form {
    padding-bottom: 20px;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0; 
}

#htmlcssjs {
    display: block;
    width: 260px;
    height: 232px;
}

.table tr:nth-child(odd) {
    background-color: blanchedalmond;
}

.table tr:nth-child(even) {
    background-color: gainsboro;
}
